cfginfo:
    version: 1.0.0
main:
    name: cloudBox server
    motd: Stuff is happening!
    public: true
    max_clients: 128
    salt: 
    ports: # Ports
        clients: 25565
        worldservers: 25000
heartbeat:
    send_heartbeat: true
    classicube_heartbeat: true
database:
    enabled: true
    ip: 127.0.0.1
    port: 5998
log:
    enable-debug: false